<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing PetCity" parallel="methods" thread-count="6" >
    <test name="Regression">
        <classes>
            <class name="tests.petCity.Home"/>
            <class name="tests.petCity.Login"/>
            <class name="tests.petCity.E_Parduotuve"/>
        </classes>
    </test>
</suite>